body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    background-color: white;
    border-radius: 40px;
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.comment-button {
    font-size: 1em;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    background-color: white;
    border-radius: 40px;
    z-index: 2;
}
header {
    height: 3%;
}

footer {
    height: 2%;
}
header nav {
    display: flex;
    justify-content:right;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;

}

#main-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    overflow-y: auto;
}
#feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.post {
    border: black 1px solid;;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 25px;
}
.post div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 40px;
    margin: 10px;
    padding: 10px 50px;
}

#img-container {
    width: 100%;
    height: 80%;
}

.gallery-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 10px 30px;
}

#post-main {
    display: flex;
    height: 93%;
}

#img-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

#gallery-addons {
    display: flex;
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}
.addons {
    height: 25%;
    width: auto;
}
#main-img {
    position: relative;
    z-index: 1;
    width: fit-content;
    height: auto;
    max-width: 100%;
}
.add-img {
    position: absolute;
    width: 10%;
    z-index: 2;
}
#gallery {
    border: black 1px solid;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#history {
    border: black 1px solid;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#history div{
    position: relative;
    width: 100%;
}
#history div img{
    width: 100%;
    height: auto;
}


.delete-img {
    position:absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.publish-buton {
    position:absolute;
    z-index: 2;
    top: 5px;
    left: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.hidden {
    display: none;
}

.show {
    display: block;
}