<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Feed</a></li>
                <li><a href="#">Post</a></li>
                <li><a onclick="showModify()">Change info</a></li>
                <li><a onclick="notification()"><i id="notification" class="fa-regular fa-bell"></i></a></li>
                <li><a onclick="disconnect()">disconnect</a></li>
            </ul>
        </nav>
        <div id="modify" style="display: none;">
            <form>
                <label for="email">email:</label>
                <input type="text" id="email" name="email" required>
                <label for="username">username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Change info</button>
            </form>
        </div>
    </header>
    <main id="post-main">
        <section id="gallery">
            <h2>Gallery</h2>
            <div id="img-container">
                <img id="main-img" src="static/egervais.jpg">
                <img  id="add-img" src="static/cat.png">
            </div>
            <div class="gallery-footer">
                <i class="fa-solid fa-camera"></i>
                <button id="post">post</button>
            </div>
        </section>
        <section id="history">
            <div class="saved-img">
                <button class="delete-img">X</button>
                <img src="static/egervais.jpg">
            </div>
            <div class="saved-img">
                <button class="delete-img">X</button>
                <img src="static/egervais.jpg">
            </div>
            <div class="saved-img">
                <button class="delete-img">X</button>
                <img src="static/egervais.jpg">
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2020</p>
    </footer>
    <script src="{{ url_for('static', filename='auth.js') }}"></script>
    <script src="{{ url_for('static', filename='post.js') }}"></script>
</body>
</html>